<div class="container ">
  <div class="row">
    <div class="col">
      <h1>Fast To Eat</h1>
      <%=  simple_form_for :search, url: restaurants_path, method: :get do |f| %>
        <div class="form-group">
          <%= f.input :query, label: false, placeholder: "Search for a restaurant" %>
          <%= f.submit "Search", class: "btn btn-primary" %>
        </div>
      <% end %>
      <%= link_to "List of restaurants", restaurants_path %>



      <% if user_signed_in? %>
        <p>Hello <%= current_user.email %></p>
      <% else %>
        <p>You are not log in</p>
      <% end %>
    </div>
  </div>
</div>
