<div class="container">
  <div class="row">
    <div class="col">
      <h1>hello from the show restaurant</h1>
      <%= link_to "List of restaurants", restaurants_path %>


      <p><%= @restaurant.photo %></p>

      <p>Restaurant Name: <%= @restaurant.name %></p>
      <p>Restaurant Address: <%= @restaurant.address %></p>
      <p>Restaurant Rating: <%= @restaurant.raiting %></p>
      <div class="menu">
       <strong > <h3>Menus:</h3> </strong>
        <p>Pho</p>
        <p>Bun Bo Hue</p>
        <p>Banh Mi</p>
        <p>Com Tam</p>
        <p>Bun Thit Nuong</p>
        <p>prix: 35€</p>
        <p>Nems</p>
      </div>
    </div>


  </div>
</div>
